@keyframes show-website {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes show-quotes {
    from {
        opacity: 0%;
        transform: translateY(20px);
    }
    to {
        opacity: 100%;
    }
}

@keyframes expand {
    to {
        transform: rotate(180deg);
    }
}

@keyframes collapse {
    to {
        transform: rotate(-180deg);
    }
}

html {
    animation: 0.8s ease 0s 1 normal none running show-website;
}

p {
    animation: 0.8s ease 0s 1 normal none running show-quotes;
}

br {
    user-select: none;
}

.plus {
    float: right;
    padding: 1px 8px 4px 8px;
    background-color: #212529;
    font-size: large;
    color: #f8f9fa;
    user-select: none;
    -webkit-appearance: none;
}

.minus {
    float: right;
    padding: 1px 9.5px 4px 9.5px;
    background-color: #212529;
    font-size: large;
    color: #f8f9fa;
    user-select: none;
    -webkit-appearance: none;
}

.card.m-3.p-0.col {
    width: 18em;
}

.card.mx-auto.d-block {
    width: 80%;
}

.card.rounded.mx-auto.d-block {
    width: 26rem;
}

.btn.m-1.col.text-nowrap {
    width: 8.5rem;
}

.accordion {
    animation: 0.8s ease 0s 1 normal none running show-quotes;
}

.card-header {
    -webkit-appearance: none;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.link-disabled {
    opacity: 50%;
}

.page-transition {
    width: 5.1rem;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.song {
    animation: 0.8s ease 0s 1 normal none running show-quotes;
    background-color: #dee2e6;
}