@keyframes expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1) rotate(180deg);
    }
}

@keyframes collapse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1) rotate(-180deg);
    }
}

br {
    user-select: none;
}

.plus {
    float: right;
    padding: 1px 8px 4px 8px;
    background-color: #212529;
    font-size: large;
    color: #f8f9fa;
}

.minus {
    float: right;
    padding: 1px 9.5px 4px 9.5px;
    background-color: #212529;
    font-size: large;
    color: #f8f9fa;
}

.card.m-3.p-0.col {
    width: 18em;
}

.card.mx-auto.d-block {
    width: 80%;
}

.card.rounded.mx-auto.d-block {
    width: 26rem;
}

.btn.m-1.col.text-nowrap {
    width: 8.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.link-disabled {
    opacity: 50%;
}

.page-transition {
    width: 5.1rem;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.song {
    background-color: #dee2e6;
}