@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    animation: 0.8s ease 0s 1 normal none running appear;
    background-color: #d3d3d3;
}

br {
    user-select: none;
}

ruby[data-ruby][data-rb-length][data-rt-length] {
    position: relative;
}

ruby[data-ruby][data-rb-length][data-rt-length]::before {
    --width: calc(1rem * var(--rb-length) + var(--additional-space));
    width: var(--width);
    content: attr(data-ruby);
    position: absolute;
    left: calc(
        (var(--width) - 0.6rem * var(--rt-length)) / var(--rt-length) / 2 -
            var(--additional-space) / 2
    );
    top: -0.8em;
    text-align: center;
    font-size: 0.6em;
    letter-spacing: calc(
        (var(--width) - 0.6rem * var(--rt-length)) / var(--rt-length)
    );
}

rt {
    display: none;
}

.navbar {
    pointer-events: none;
}

.navbar-toggler,
.twitter-share-button {
    pointer-events: all;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-title {
    background: linear-gradient(transparent 60%, var(--bs-gray) 30%);
    width: fit-content;
}

.navbar-collapse {
    opacity: 95%;
    pointer-events: all;
}

.nav-link {
    color: var(--bs-light);
}

.nav-link:hover {
    color: var(--bs-light);
}

.episode-table-link:hover {
    background-color: var(--bs-gray);
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
