@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes expand {
    to {
        transform: rotate(180deg);
    }
}

@keyframes collapse {
    to {
        transform: rotate(-180deg);
    }
}

body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    animation: 0.8s ease 0s 1 normal none running appear;
}

br {
    user-select: none;
}

.header-footer-color {
    background-color: #d3d3d3;
}

.footer-note {
    font-style: italic;
}

.navbar-collapse.bg-dark {
    opacity: 95%;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--bs-secondary);
    border-left-width: 4px;
    border-radius: 5px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-info {
    border-left-color: var(--bs-info);
}

.bs-callout-info h4 {
    color: var(--bs-info);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.display-6 {
    background: linear-gradient(transparent 60%, var(--bs-gray) 30%);
    width: fit-content;
}

.nav-item .nav-link.active {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    border: var(--bs-border-color-translucent) 1px solid;
    border-bottom: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) 1px solid;
    font-weight: bold;
}

.nav-item .nav-link.active:hover {
    color: var(--bs-nav-tabs-link-active-color);
}

.nav-item .nav-link {
    color: var(--bs-nav-link-color);
    width: 10rem;
}

.nav-item .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}

.nav-link-hover:hover {
    background-color: var(--bs-gray);
}

.nav-link {
    color: var(--bs-light);
}

.nav-link:hover {
    color: var(--bs-light);
}

#in-this-page {
    background-color: var(--bs-gray-dark);
    cursor: default;
}

.to-top-page {
    border-bottom: var(--bs-gray-400) 1px solid;
    color: var(--bs-gray-400);
}

.to-top-page:hover {
    border-bottom: var(--bs-gray-200) 1px solid;
    color: var(--bs-gray-200);
}

.plus,
.minus {
    float: right;
    background-color: #212529;
    font-size: large;
    color: #f8f9fa;
    user-select: none;
    width: 30px;
    height: 28px;
}

.card.m-3.p-0.col {
    width: 18em;
}

.card.mx-auto.d-block {
    width: 80%;
}

.card.rounded.mx-auto.d-block {
    width: 26rem;
}

.btn.m-1.col.text-nowrap {
    width: 8.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.episode-list {
    white-space: nowrap;
}

.link-disabled {
    opacity: 50%;
}

.btn-primary:hover {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-secondary:hover {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.5);
}

.btn-return {
    background-color: var(--bs-gray-dark);
    color: var(--bs-white);
    border-color: var(--bs-gray-dark);
}

.btn-return:hover {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    border-color: var(--bs-dark);
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}

.btn-return:focus {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    border-color: var(--bs-dark);
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}

.btn-songs {
    background-color: rgb(120, 61, 238);
    color: var(--bs-white);
    border-color: #783dee;
}

.btn-songs:hover {
    background-color: var(--bs-purple);
    color: var(--bs-white);
    border-color: var(--bs-purple);
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.5);
}

.btn-songs:focus {
    background-color: var(--bs-purple);
    color: var(--bs-white);
    border-color: var(--bs-purple);
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.5);
}

.page-transition {
    width: 5.1rem;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.song {
    background-color: #dee2e6;
}
